<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% load static %} 
    <!-- Nav Bar -->
    <nav>
        <ul>
            <li class="norm"><a href="/candidates/">Candidates</a></li>
            <li class="norm"><a href="/quiz/">Quiz</a></li>
            <li class="norm"><a href="/vote/">Vote</a></li>
        </ul>
    </nav>

    
    <!-- Logo -->
    <img src="{% static 'images/logo.png' %}" alt="logo" id="logo">
    <h1 class="heading"><a href="/home">ELECT</a></h1>

    <div class="bar" style="z-index: -1;">
        <h1 style="color: white; text-align: center; padding-top: 25px;">Meet the Candidates</h2>
    </div>
    <!-- Start Candidates Page -->

    <div class="row" style="height: 200px;">
        <h3 class="democratic_candidates">Democratic Candidates</h3>
    </div>
    <div class="row">
        <div class="column container1">
            <h2 class="candidate_text">Amy Klobuchar</h2>
            <img src="{% static 'images/candidates/democratic/amy_klobuchar.png' %}" class="faces">
            <div class="overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
        <div class="column">
            <h2 class="candidate_text">Bernie Sanders</h2>
            <img src="{% static 'images/candidates/democratic/bernie_sanders.png' %}" class="faces">
        </div>
        <div class="column">
            <h2 class="candidate_text">Elizabeth Warren</h2> 
            <img src="{% static 'images/candidates/democratic/elizabeth_warren.png' %}" class="faces">
        </div>
           <div class="column">
            <h2 class="candidate_text">Joe Biden</h2>
            <img src="{% static 'images/candidates/democratic/joe_biden.png' %}" class="faces">
        </div>
        <div class="column">
            <h2 class="candidate_text">Michael Bloomberg</h2>
            <img src="{% static 'images/candidates/democratic/michael_bloomberg.png' %}" class="faces">
        </div>
        <div class="column">
            <h2 class="candidate_text">Pete Buttigieg</h2>
            <img src="{% static 'images/candidates/democratic/pete_buttigieg.png' %}" class="faces">
        </div>
        <div class="column">
            <h2 class="candidate_text">Tom Steyer</h2>
            <img src="{% static 'images/candidates/democratic/tom_steyer.png' %}" class="faces">
        </div>
        <div class="column">
            <h2 class="candidate_text">Tulsi Gabbard</h2>
            <img src="{% static 'images/candidates/democratic/tulsi_gabbard.png' %}" class="faces">
        </div>
    </div>

    <div class="row" style="height: 150px; position: relative; ">
        <h3 class="republican_candidates">Republican Candidates</h3>
    </div>
    <div class="row">
        <div class="column">
            <h2 class="candidate_text">Bill Weld</h2>
            <img src="{% static 'images/candidates/republican/bill_weld.png' %}" class="faces">
        </div>
        <div class="column">
            <h2 class="candidate_text">Donald Trump</h2>
            <img src="{% static 'images/candidates/republican/donald_trump.png' %}" class="faces">
        </div>
    </div>

    <!-- Footer -->
    <div class="footer"></div>
</body>
</html>