<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% load static %}
    
    <!-- Logo -->
    <img src="{% static 'images/logo.png' %}" alt="logo" id="logo">
    <h1 class="heading"><a href="/home">ELECT</a></h1>

    <!-- Nav Bar -->
    <nav>
        <ul>
            <li class="norm"><a href="/candidates/">Candidates</a></li>
            <li class="norm"><a href="/quiz/">Quiz</a></li>
            <li class="norm"><a href="/vote/">Vote</a></li>
        </ul>
    </nav>
    
    <!-- Meet the Candidates -->
    <img src="{% static 'images/man_voting.png' %}" alt="person voting" id="vote">
    <h3 style="font-weight: normal; text-align: right; position: absolute; right: 7%; top: 72%; display: inline;">Can't find a presidential candidate that <br>aligns closely with your political views? <br> <b>ELECT is the solution for you!</b></h3>
    <button type="button" style="position: absolute; right: 7%; top: 87%;"><a style="color: white; font-size: 1.8em; text-decoration: none;" href="candidates"><b>Meet the Candidates</b></a></button>

    <!-- Meet Your Match -->
    <img src="{% static 'images/match.png' %}" alt="person voting" id="match">
    <h3 style="font-weight: normal; text-align: left; float: left; margin-left: 20%; margin-top: 10%;">ELECT makes it easy to match <br>your values with candidates. <br> <b>Try out our quiz.</b></h3>
    <button type="button" style="float: left; margin-left: 20%;"><a style="color: white; font-size: 1.8em; text-decoration: none;" href="quiz"><b>Meet Your Match</b></a></button>
    <br><br>

    <!-- Vote! -->
    <img src="{% static 'images/vote.png' %}" alt="person voting" style="width: 70%; margin: 0 auto; padding-top: 50px;" id="hello">
    <h3 style="text-align: center; font-weight: normal;">Everything you need and more to make your voice heard.<br> <b>Check out voting resources.</b></h3>
    <button type="button" style="margin: 0 auto; display: block;"><a style="color: white; font-size: 1.8em; text-decoration: none;" href="vote"><b>Let's Vote</b></a></button>

    <!-- Footer -->
    <div class="footer"></div>
</body>
</html>