ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    text-decoration: none;
    position: fixed;
    display: inline;
}

li {
    float: left;
    text-decoration: none;
}

* {
    color:blue !important;
}

p {
    color: red !important;
}

body {
    color:blue;
}