#logo {
    width: 60px;
    height: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 5%;
    top: 5%;
    display: inline;
}

#vote {
    width: 100%;
    height: auto;
    z-index: -1;
    position: relative;
}

#match {
    width: 30%;
    float: right;
    margin-right: 20%; 
}

* {
    font-family: Open Sans;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #554D80;
}

nav {
    display: block;
    position: absolute;
    right: 15%;
    top: 5%;
}

nav li {
    display: inline;
    padding-right: 30px;
    font-weight: bold; 
    font-size: 1.2em;   
}

button {
    background-color: #554D80;
    border: none;
    border-radius: 20px;
    display: inline;
    padding: 12px 32px;
}

button:hover {
    background-color: #AA99FF;
}

.heading {
    font-size: 3em;
    position: absolute;
    left: 12%;
    top: 1%;
}

.heading a {
    color: #554D80;
    text-decoration: none;
}

.norm a {
    color: #554D80;
    text-decoration: none;
}

.norm a:hover {
    border-bottom: 3px rgba(85, 77, 128, 0.5) solid;
}

.white a {
    color: white;
    text-decoration: none;
}

.white a:hover {
    border-bottom: 3px #554D80 solid;
}

/* Flex box */
.container {
    display: flex; /* or inline-flex */
  }

.footer {
    background-color: #554D80;
    width: 100%;
    height: 100px;
    margin-top: 100px;
}

#hello {
    display: block !important;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .bar {
      background-color: #554D80;
      width: 100%; 
      height: 100px;
      display: block;
      margin-top: 15%;
  }

  /* Candidate-specific styles */

.democratic_candidates {
    position: absolute;
    width: 100%;
    height: 71px;
    top: 40%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 65px;
    text-align: center;

    color: #FED545;
}
.republican_candidates {
    position: absolute;
    width: 100%;
    height: 71px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 65px;
    text-align: center;

    color: #FED545;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.othercolumn {
    float: left;
    width: 50%;
    padding: 10px;
}

.row {
    width: 100%;
    display: block !important;
}

.row1 {
    position: absolute; 
    top: 55%;
    width: 100%;
}
.row2 {
    position: absolute; 
    top: 135%;
    width: 100%;
}
.row3 {
    position: absolute; 
    top: 150%;
    width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.candidate_text {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    color: #554D80;

}
.faces {
    width: 90%;
    height: auto;
    padding-left: 10%;
    position: relative;
}

.container1 {
    position: relative;
    width: 25%;
}

.overlay {
position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.faces:hover .overlay {
    opacity: 1;
  }

.text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
}